.name {
    text-align: left;
    color: blue;
    margin-bottom: 5px;
}
hr {
    width: 95%;
    text-align: center;
}
img {
    width: 300px;
    height: 400px;
    display: block;
    margin: auto;
    border: 1px solid black;
}
.short {
    text-align: left;
    font-weight: bold;
}